<ul>
	<li style="display: inline"><%= link_to 'Bienvenido', root_path %></li>
	<li style="display: inline"><%= link_to 'A cerca de', about_path %></li>
	<li style="display: inline"><%= link_to 'Propiedades', services_path %></li>
</ul>