<%= content_for :head do %>
    <title>A cerca de</title>
<% end %>

<%= content_for :intro do %>
    <h1>A cerca de</h1>
    <h2>Beneficios de la chia</h2>
<% end %>
<p>Las semillas de chía están de moda. Todas las celebrities hablan de ellas pero quizás no sabes muy bien de qué se trata o qué beneficios aportan. De Nueva York a Los Ángeles, pasando por Londres o España, las semillas de chía se están apoderando de las despensas de todo el mundo. Pero, ¿qué hace que las semillas de chía sean tan importantes y saludables? A continuación vamos a hablarte de algunas de sus propiedades más destacadas y también de sus beneficios, que seguro que terminan por convencerte.</p>

