<%= content_for :head do %>
    <title>Propiedades</title>
<% end %>

<%= content_for :intro do %>
    <h1>Propiedades</h1>
    <h2>Propiedades milagrosas de las semillas de chía</h2>
<% end %>
<p>Son ideales para deportistas, y una elección totalmente saludable para el día a día de cualquier persona. Además, como te comentábamos, estas nutritivas semillas se pueden incorporar en cualquier comida sin cambiar su sabor. En las sopas, en las ensaladas, en los yogures, en los cereales... ¡Puedes combinarlas con lo que más te apetezca! Incluso puedes hacer tus propias recetas de siempre, como muffins, pasteles o incluso el empanado de tus filetes con estas deliciosas semillas.</p>
